#main{
    padding-top:2%;
    margin-top:2%;
    margin-left:5%;
    width:90%;
    left:5%;
    right:5%;
    background-color:lightblue;
}
#content{
    background-color:lightgreen;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#title{
    /*padding-top:3%;*/
    margin-left:2%;
    padding:1%;
    padding-bottom:3%;
    font-size:30px;
}


.photo{
    margin:3px;
    max-width: 30%;
}

.photo:nth-child(odd){
    background-color:#aaaaff;
}
.photo:nth-child(even){
    background-color:#aaffaa;
}

.thumbnail{
    max-width:150px;
    height:auto;
}

.thumbnail>img{
    max-width:150px;
    height:auto;
    max-height:80%;
    margin:3px;
}

.photo_title{
    margin-top:5px;
}

#preview>img{
    max-width:1280x;
    width:100%;
    height:auto;
    max-height:720px;
}
