{% extends "photos/base.html" %}

{% block content %}

<a href="{% url 'photos:add' %}">Add New Photo</a>
    <ul>
    {% for photo in photos %}
        <li>
            <a href="{% url 'photos:edit' photo.id %}">{{ photo }}</a>
        </li>
    {% endfor %}
    </ul>

    <a href="{% url 'photos:add_tag' %}">Add New Tag</a>
    <ul>
    {% for tag in tags %}
        <li>
            <a href="{% url 'photos:edit_tag' tag.id %}">{{ tag }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
