{% extends "photos/base.html" %}

{% block content %}
{% load get_tags %}

<div id="photos">
    {% for photo in photos %}
        <div class="photo" data-href="{{ photo.pk |get_tags }}">
            <a href="{% url 'photos:view_single' photo.id %}">
                <img class="thumbnail" src="{% url 'photos:thumbnail' photo.id %}" />
            </a>
            <a class="photo_title" href="{% url 'photos:view_single' photo.id %}">{{ photo }}</a>
            
        </div>
    {% endfor %}
</div>


<hr>
{% load get_all_tags %}

{% get_all_tags %}

<script type="text/javascript">
    document.getElementsByTagName("BODY")[0].onhashchange = function() {myFunction()};

    function myFunction() {
        var list = document.getElementsByClassName("photo"),
        hash = window.location.hash.substr(1);
        for(i=0;i<list.length; i++){
            var data_href = list[i].getAttribute("data-href");
            if(data_href.includes(hash)){
                list[i].style = "display:block;";
            }
            else{
                list[i].style = "display:none;";
            }
        }
    }
</script>
{% endblock %}
