{% extends "photos/base.html" %}

{% block content %}
{% load get_tags %}

 
<div id="preview">
    <img class="pure-img" src="{% url 'photos:preview' photo.id %}" />

</div>
<div id="notes">
    <div id="title">
        {{ photo.title }}
    </div>
    <div id="capture_date">
        {{ photo.capture_date }}
    </div>
    <div id="tags">
        {{ photo.id |get_tags }}
    </div>
    <div id="description">
        {{ photo.description }}
    </div>
    <div id="description">
        {% autoescape off %}
            {{ photo.sales_embed }}
        {% endautoescape %}
    </div>
    
    {% if user.is_authenticated %}
        <a class="pure-button button-warning" href="{% url 'photos:edit' photo.id %}">Edit</a>
    {% endif %}
</div>
{% endblock %}
