{% extends "photos/base.html" %}

{% block content %}
{% load get_tags %}

 
<div id="preview">
    <img class="pure-img" src="{% url 'photos:preview' photo.id %}" />

</div>
<div id="notes">
    <div id="title">
        {{ photo.title }}
    </div>
    <div id="capture_date">
        {{ photo.capture_date }}
    </div>
    <div id="tags">
        {% with tags=photo.id|get_tags %}
        {% for tag in tags %}
        
            <a href="{% url 'photos:view_all' %}#{{ tag }}">{{ tag }}</a>
        {% endfor %}
        {% endwith %}
        {#{ photo.id |get_tags }#}
    </div>
    <div id="description">
        {{ photo.description }}
    </div>
    {% if photo.sales_embed %}
    <div id="sales_embed">
        {% autoescape off %}
            {{ photo.sales_embed }}
        {% endautoescape %}
    </div>
    {% endif %}
    
    {% if user.is_authenticated %}
        <a class="pure-button button-warning" href="{% url 'photos:edit' photo.id %}">Edit</a>
    {% endif %}
</div>
{% endblock %}
